<!DOCTYPE xwork PUBLIC "-//OpenSymphony Group//XWork 1.0//EN" "http://www.opensymphony.com/xwork/xwork-1.0.dtd">
<xwork>
	<include file="webwork-default.xml"/>
	<include file="xwork-intercept.xml"/>
	<package name="menu" extends="webwork-default,intercept">
		<action name="Menu" class="zrsy.ww.json.MenuAction">
			<interceptor-ref name="permissionStack"/>
			<result name="nologgedin">/jsp/msg.jsp</result>
			<result name="nopermission">/jsp/msg.jsp</result>
			<result name="initializes">/liger/zrsy/Menu/list.jsp</result>
			<result name="success">/jsp/app.jsp</result>
			<result name="message">/jsp/msg.jsp</result>
			<result name="add">/liger/zrsy/Menu/add.jsp</result>
			<result name="edit">/liger/zrsy/Menu/edit.jsp</result>
			<result name="view">/liger/zrsy/Menu/view.jsp</result>
			<result name="list">/jsp/app.jsp</result>
			<result name="upload">/liger/zrsy/Menu/upload.jsp</result>
			<result name="print">/liger/zrsy/Menu/print.jsp</result>
			<result name="excel" type="excel">
				<param name="filename">menuxls</param>
			</result>
			<result name="error">/jsp/msg.jsp</result>
		</action>
	</package>
</xwork>